[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pyformat = "*"
pylint = "*"

[packages]
masonite = "*"
masonite-cli = "*"
masonite-admin = {editable = true,path = "./admin"}

[requires]
python_version = "3.6"
