<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Masonite Admin</title>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.0.0/react-router-dom.min.js"></script>
</head>

<body>
  <div id='app'></div>
  <script type="text/babel">
    const BrowserRouter = window.ReactRouterDOM.BrowserRouter
    const Route = window.ReactRouterDOM.Route;
    const Link = window.ReactRouterDOM.Link;
    const Switch = window.ReactRouterDOM.Switch;
    const browserHistory = window.ReactRouterDOM.browserHistory;

    class App extends React.Component{
      render(){
        return(
          <BrowserRouter history={browserHistory} >
            <Switch>
              <Route exact path='/admin' component={Root}/>
              <Route path='/admin/:table' component={List}/>
            </Switch>
          </BrowserRouter>
        );
      }
    }

    class Root extends React.Component {
      constructor(props){
        super(props);
        this.state = {
          tables: [],
        }
        this.tables = this.tables.bind(this);
      }

      tables(){
        const self = this;
        axios.get('/admin/api/tables')
        .then(function(response){
          self.setState({tables: response.data});
        })
      }

      componentDidMount(){
        this.tables();
      }

      render(){
        let tables = [];
        for(let table of this.state.tables){
          tables.push(
            <li><Link to={"admin/"+table}>{table}</Link></li>
          );
        }
        return(
          <div>
            <h1>Masonite Admin</h1>
            <ui>
              {tables}
            </ui>
          </div>
        );
      }
    }

    class List extends React.Component{
      constructor(props){
        super(props);
        this.state = {
            multi: [],
        }
        this.multi = this.multi.bind(this);
      }

      multi(table){
        const self = this;
        axios.get('/admin/api/'+table)
        .then(function(response){
          self.setState({multi: response.data});
        })
      }

      componentDidMount(){
        const table = this.props.match.params.table;
        this.multi(table);
      }

      render(){;
        let html_headers = [];
        let multi = [];

        if(this.state.multi[0]){
          let headers = Object.keys(this.state.multi[0]);

          for(let header of headers){
            html_headers.push(<th>{header}</th>);
          }

          for(let row of this.state.multi){
            let row_html = [];
            for(let key in row){
              row_html.push(<td>{row[key]}</td>)
            }

            multi.push(<tr>{row_html}</tr>);
          }
        }

        return(
          <div>
            <Link to="/admin">toppage</Link>
            <table>
              <thead>
                <tr>{html_headers}</tr>
              </thead>
              <tbody>
                {multi}
              </tbody>
            </table>
          </div>
        );
      }
    }

    ReactDOM.render(<App />, document.getElementById('app'));
  </script>
</body>

</html>